@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@media only screen and (max-width: 600px) {
  * {
    padding: 0%;
    margin: 0%;
  }
  body {
    background: linear-gradient(to left, #47bfdf 0%, #4a91ff 100%);
    width: 380px;
    overflow: hidden;
  }
  header {
    margin: 2.3rem 0rem 5rem;
  }
  header .searchContent {
    margin: 10px;
    display: flex;
    flex-direction: row;
  }
  header .searchContent .searchbox {
    top: 0;
    position: absolute;
    width: 0%;
    height: 5rem;
    border-bottom: 3px solid #3333;
    background-color: white;
  }
  header .searchContent .searchbox input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: x-large;
    color: gainsboro;
    font-family: "Rubik Dirt", cursive;
  }
  header .searchContent .searchbox input :focus {
    outline: none;
  }
  header .searchContent .searchbox img {  
    position: relative;
    z-index:10;
    width: 7%;
    float: right;
    padding-right: 10px;
    margin-top: -5rem;
    height: 5rem;
  }
  .app-Title {
    display: flex;
    color: white;
    flex-direction: row;
    width: 90%;
    align-items: center;
  }

  .app-Title p {
    font-family: "Rubik Dirt", cursive;
    font-size: x-large;
  }
  .searchIcon {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .searchIcon img {
    width: 25%;
  }
  .weather-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weather-forecast .city h1 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 40px;
  }
  .weather-forecast .weatherImg {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 40px;
    width: 35%;
  }
  .weatherImg img {
    width: 100%;
  }
  .weather-forecastDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .weather-forecastDetails .detailsCard {
    height: 285.23px;
    width: 325.23px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
  }
  .detailsCard .days {
    height: 15%;
    font-size: large;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detailsCard .temp{
    height: 30%;
    font-size: 60px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .desc {
    height: 10%;
    font-size: large;
    color: white;
  }

  .weatherDetails{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
  }
  .weatherDetails .mindesc {
    width: 35%;
    display: flex;
    align-items: center;
    color: white;
  }
  .mindesc img {
    width: 30%;
  }
  .weatherDetails .maxdesc {
    width: 35%;
    display: flex;
    align-items: center;
    color: white;
  }
  .maxdesc img {
    width: 30%;
  }
  .weatherDetails .winddesc {
    width: 50%;
    display: flex;
    align-items: center;
    color: white;
  }
  .winddesc img {
    width: 18%;
    padding-right: 5px;
  }
  .weatherDetails .teardesc {
    width: 30%;
    display: flex;
    align-items: center;
    color: white;
  }
  .teardesc img {
    width: 30%;
  }
  
}
