@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@media only screen and (max-width: 600px) {
  * {
    padding: 0%;
    margin: 0%;
  }
  body {
    background: linear-gradient(to left, #47bfdf 0%, #4a91ff 100%);
  }
  header {
    margin: 2.3rem 0rem 5rem;
  }
  header .map {
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .citymap {
    display: flex;
    color: white;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    width: 35%;
    align-items: center;
  }
  .citymap img {
    width: 25%;
  }
  .angle-down {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 1.3rem;
  }
  .angle-down img {
    width: 20%;
    padding: 0%;
    margin: 0%;
  }
  .searchIcon {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchIcon img {
    width: 35%;
    margin-left: 25px;
  }
  .weather-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weather-forecast .city h1 {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 40px;
  }
  .weather-forecast .weatherImg {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 40px;
    width: 35%;
  }
  .weatherImg img {
    width: 100%;
  }
  .weather-forecastDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .weather-forecastDetails .detailsCard {
    height: 285.23px;
    width: 325.23px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
  }
  .detailsCard .temp {
    height: 15%;
    font-size: large;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detailsCard .weatherC {
    height: 30%;
    font-size: 60px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  .desc {
    height: 10%;
    font-size: large;
    color: white;
  }
  .minmax {
    height: 5%;
    font-size: large;
    color: white;
  }
}
